<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Check</title>
	<link rel="stylesheet" href="">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
		<form action="/signup" method="post">
			FirstName: <input type="text" name="name"><br>
			email: <input type="text" name="email"><br>
			phone_no: <input type="text" name="phone_no"><br>
			password: <input type="password" name="password"><br>
			<button type="submit">Signup</button>
		</form>
		<form action="/login" method="post">
			<input type="text" name="email">
			<input type="password" name="password">
			<input type="submit" name="Login" value="Login">
		</form>
		<br>
		<form action="/signup" method="post">
		name: <input type="text" name="name"><br>
		address: <input type="text" name="address"><br>
		locality: <input type="text" name="locality"><br>
		state: <input type="text" name="state"><br>
		email: <input type="email" name="email"><br>
		password: <input type="password" name="password">
		phone: <input type="text" name="phone_no"><br>
		<input type="submit" value="Signup"><br>
		</form>
		<form action="/getSaloons" method="post">
		<input type="submit" value="find">
		</form>
		<br><br>
		<form action="/addServices" method="post">
		name: <input type="text" name="name">
		amount: <input type="text" name="amount">
		<input type="submit" value="add">
		</form>
<br><br>
		<form action="/getSaloons" method="post">
		locality: <input type="text" name="locality"><br>
		name: <input type="text" name="service_name"><br>
		<input type="submit" value="find">
		</form>
</body>
<script></script>
</html>